
html, body {
	min-height:100%;
	background-color: #eee;
	line-height: 1;
	font-family:Artial, Verdana, sans-serif;
}
body > *{
	position: fixed;
	z-index: 100;
}
.skrollable > .skrollable {
	position: absolute;
}
.skrollable > .skrollable > .skrollable {
	position: static;
}

h1 {
	font-size:2.91em;
	margin:0;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}